* {
  
  margin: 0;
  padding: 0;
  font-size: 13;
  box-sizing: border-box;
  font-family: 'Roboto';
  
}

body {
  
  min-width: 100vw;
  min-height: 120vh ;
  
}

.nav {
  
  background: #A61B26;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 100;
  
  
}


.nav h1 {
  
  position: relative;
  left: 10px;
  color: #F2D680;
  margin: auto;
  font-size: 20px;
}

.linea-bottom {
  
  width: 100vw;
  height: 1.5px;
  background: #4BBFBF;
  position: absolute;
  left: 0;
  margin-top: 65px;
  z-index: -1200;

  
}

.logo-contenedor {
  
  position: absolute;
  left: 0;
  margin: 0 30px;
  z-index: 10;
  
}

.logo {
  
  width: 70px;
  height: 70px;
  
}



.fa-arrow-right-to-bracket {
  
  position: absolute;
  right: 0px;
  margin: 20px;
  transform: rotate(180deg);
  color: #FFFFFF;
  
}



/*------ubicacion-----*/



.ubi-grid {
  
  
  display: grid;
  grid-template-columns: 2;
  width: 90%;
  height: 250px;
  margin: 0 5%;
  position: absolute;
  top: 30%;
  grid-gap: 10px ;
  font-size: 12px;  
}

.ubi-grid h1 {

 position: relative;
 top: 20px;
 font-size: 13px;

  
}


.ubi-parrilla {
  
  grid-column: 1;
  display: grid;
  overflow: hidden;

  
  
}


.ubi-parrilla img {
  
  width: 200px;
  height: 100px;
  background: #000000;
  
}

.ubi-pizzeria {
  
  grid-column: 2;
  display: grid;
  overflow: hidden;

  
}

.ubi-pizzeria img {
  
  
  width: 200px;
  height: 100px;
  background: #000000;
  
}

.info {
  
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  
  
}

.info b {
  
  margin-bottom: 10px;
  
}

.info button {
  
  justify-content: end;
  position: absolute;
  right: 30px;
  top: -5px; 
  padding: 3px;
  color: #FFFFFF;
  background: #A61B26;
  border: none ;
  border-radius: 3px;
}






/*---------footer---------*/

.footer{
  
  position: absolute;
  bottom: -400px;
  background: #A61B26;  
  width: 100vw;
  min-height: 350px;
  z-index: -10;
  color: #FFFFFF;
  
}

.footer img {
  
  width: 50px;
  height: 50px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0;
  
}

.linea p {
  
  
  margin: auto;
  background: #F2D680;
  z-index: 10;
  text-align: center;
  color: #A61B26 ;
  font-size: 13px;
  border-radius: 10px;
  width: 100px;
  position: relative;
  top: -10px;
  
}


.linea-bases {
  
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2px;
  background: #F2D680;
  z-index: -1;

  
}


.footer-grid {
  
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  
}

.redes-sociales {
  
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2;
  width: 100vw;
  margin-bottom: 20px;
  margin: auto;
  height: 130px;
 
  
}

.redes-sociales i {
  
 text-align: center;
 background:#386DB3;
 padding: 3px;
 border: 2px solid #F2D680;
 border-radius: 9px;
 color: #FFFFFF;
 width: 24px;
 height: 24px;
 font-size: 15px;

}


.redes-sociales .fa-instagram {
  
  background-image: linear-gradient(225deg, #4F4993 40%,  #FF1361 70%, #FFF800 100%);
  
}

.santos-manjares-redes {
  
  grid-column: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.santos-pizza-redes {
  
 grid-column: 2;
 display: flex;
 flex-direction: column;
 text-align: center;
  
}

.horarios {
  
  grid-row: 2;
  grid-column: 2;
  font-size: 10px; 
  display: grid;
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100vw;
}

.horarios h1 {
  
  color: #F2D680;
  width: 100%;
  border-bottom: 2px solid #F2D680;
  margin-bottom: 15px; 
  margin-left: 20px;
  padding-left: 10px;
  
}

.horarios li {
  
  list-style: none;
  margin-left: 20px;
  padding-bottom: 3px;
  
}

.parrilla-horarios {
  
  grid-column: 1;
  
}

.pizzeria-horarios {
  
  grid-column: 2;
  
}


.horarios-final {
  
  width: 90%;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  text-align: center;
}
